.navbar {

    background-color: rgb(255, 255, 255);
}

.margin {

    padding-top: 20px;
}

h1 {

    margin: 2%;
}

footer {

    text-align: center;
    margin-top: 5%;
}

.receipt {
    border: solid;
    margin: 10px;
}

form {
    
    width: fit-content;
    text-align: center;
    background-color: rgb(192, 191, 191);
}